@import url(https://fonts.lug.ustc.edu.cn/earlyaccess/notosanstc.css);
html body {
  padding: 0;
  margin: 0;
  min-width: 1080px;
}
* {
  font-family: "Noto Sans Thin", "Noto Sans CJK SC Thin", sans-serif;
  font-weight: 300;
}
ul li ol {
  display: inline-block;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1001;
  min-width: 1080px;
}
.grid-wrapper {
  display: block;
}
.grid-space {
  padding: 60px 80px;
}
.grid-grey {
  background-color: #f0f0f0;
}
.header_wrapper {
  padding-bottom: 8px;
  text-decoration: none;
}
.header_logo {
  margin: 8px 0 0 4%;
  float: left;
}
.header_logo > img {
  width: 130px;
}
.header_tabs {
  margin: auto 0;
}
.menu-items {
  height: 100%;
  float: left;
  clear: none;
  padding-left: 20px;
  margin: auto 0;
}
.menu-item {
  display: inline-block;
  padding: 11px 15px 12px;
}
.menu-item > a {
  text-decoration: none;
  text-align: center;
  color: grey;
}
#topic-gathering > a {
  color: white;
}
#booking-ticket {
  display: block;
  height: 100%;
  float: right;
  background-color: grey;
  padding: 10px 20px 11px;
}
#booking-ticket > a {
  text-decoration: none;
  font-size: 17px;
}
.centered {
  text-align: center;
}
.title {
  margin: 0;
  font-size: 36px;
}
.words {
  margin-top: 20px;
}
.word {
  font-size: 18px;
  max-width: 800px;
  margin: 1em auto;
}
.hero-banner {
  width: 100%;
  padding-top: 44px;
}
.hero-banner > img {
  width: 100%;
  height: auto;
}
.important-info {
  color: red;
}
.block {
  display: block;
}
.button {
  display: inline-block;
  text-decoration: none;
  margin: 2px;
  padding: 15px 70px;
  font-size: 23px;
  border-radius: 4px;
}
.color-black {
  background-color: black;
}
.color-red {
  background-color: red;
}
.color-text-white {
  color: white;
}
.color-border-white {
  border: solid 2px white;
}
.color-border-black {
  border: solid 2px black;
}
.color-border-none {
  border: none;
  outline: none;
}
.topic-pics {
  display: block;
  margin: 40px auto;
}
.topic-pic {
  display: inline-block;
  margin: auto 30px;
  background-repeat: no-repeat;
}
.two-topic-pic {
  margin: auto 30px;
  padding: 25px 80px;
  background-size: cover;
}
.two-topic-pic > .words > .word {
  font-size: 30px;
}
#two-topic-first {
  background-image: url("../resource/fabric-2642229-01.jpg");
}
#two-topic-second {
  background-image: url("../resource/fabric-2642229-02.jpg");
}
#topic-uploading {
  background-image: url("../resource/topic-banner.png");
}
#topic-uploading .words {
  margin: 30px auto;
}
#introduction .words {
  display: inline-block;
}
#introduction .words .word {
  text-align: left;
}
.update {
  margin: 40px auto;
}
.subscription {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin-top: 40px;
}
.subscription > input {
  margin: 0 15px;
  font-size: 25px;
}
.subscription > .button {
  outline: none;
  padding: 15px 40px;
}
.info-message {
  display: none;
  position: absolute;
  top: 70px;
  left: 30px;
}
.footer {
  position: relative;
  margin-bottom: 0;
  height: 75px;
}
.footer .words {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.footer .words .word {
  font-size: 20px;
}
#hook_box {
  position: fixed;
  height: 180px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -200px;
  z-index: 1002;
  display: none;
  padding: 5px 15px;
  background-color: white;
  border: solid 2px black;
}
